entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8502
externalPort = 3000

[workflows]
runButton = "Run Streamlit"

[[workflows.workflow]]
name = "Run Streamlit"
author = 36521463
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false main.py"
